html, body {
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom right, #010230 50%, #01057b); 
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
    letter-spacing: 0.125rem;
    word-spacing: 0.125rem;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    overflow-x: hidden;
}

body h2 {
    font-weight: bold;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.555);
    z-index: 1000;
    display: none; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 1.25rem;
    width: 100vw;
}

.left-links, .right-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.right-links li {
    margin-right: 0.75rem; 
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
    color: #5f619d;
}

.sticky-navbar {
    display: flex;
}

.navbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.125rem; 
    background-color: aliceblue; 
}

#Intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3.75rem 1.25rem; 
    background-size: cover;
    background-position: center;
    color: white;
}

.profile-photo {
    width: 100vw;
    height: auto;
    border-bottom: aliceblue solid thin; 
    border-radius: 0.625rem; 
    margin-bottom: 6.25rem; 
}

.wrapper {
    max-width: 87.5rem; 
    margin: 0 auto; 
    padding: 0 1.25rem; 
}

header {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%; 
    margin-bottom: 3.125rem; 
}

#info {
    display: inline-block;
}

.gallery-item {
    display: flex;
    border: aliceblue inset;
    border-radius: 0.625rem; 
    flex-direction: column;  
    height: 15.625rem; 
    width: 23.125rem; 
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.video-thumbnail {
    background-color: #1B1A55;
    border-radius: 0.625rem; 
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-image 0.3s ease-in-out, opacity 0.3s ease;
    width: 100%;
    height: 100%;
}

.video-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
}

.video-title {
    font-size: 1.3rem; 
    color: white;
    background-color: #1B1A55;
    padding: 0.3125rem; 
    border-radius: 0.3125rem; 
    margin: 0;
}

.video-thumbnail:hover {
    opacity: 0.8;
    background-image: url('../Images/davinci-resolve-audio-export.gif');  
}

.gallery {
    display: grid;
    gap: 3.125rem; 
    grid-template-columns: repeat(auto-fill, minmax(20.625rem, 1fr)); 
    margin-top: 5.625rem;
    margin-bottom: 7.5rem; 
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    overflow: auto;
}

.modal-content {
    background: linear-gradient(to bottom right, #01057b, #010230);
    margin: 6.25rem auto; 
    padding: 1.25rem;
    border: aliceblue inset thin; 
    border-radius: 0.625rem; 
    width: 80%;
    max-width: 50rem; 
}

.close {
    color: white;
    font-size: 2rem; 
    position: absolute;
    top: 2.1875rem; 
    right: 1.25rem; 
    cursor: pointer;
}

#modal-body {
    text-align: center;
}

#more-content.hidden {
    display: none;
}

#arrow {
    font-size: 2rem;
    color: #ccc;
    transition: transform 0.3s ease;
}

#arrow.rotate {
    transform: rotate(90deg); 
}

.show-more {
    display: inline-flex;
    align-items: center;
    border: none;
    background: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    gap: 0.3125rem; 
    padding: 0.3125rem; 
}

.show-more #info {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.625rem; 
    letter-spacing: 0.125rem; 
    word-spacing: 0.125rem;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: oblique;
    font-variant: normal;
    text-transform: none;
}

#footer {
    background-color: #13123a;
    color: white;
    padding: 0.3125rem 5.5rem;
    text-align: left;
    border-top: 2px solid #535C91;
    margin-top: 6.25rem;
    width: 100vw;
    height: auto;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 25%;
    font-weight: bold;
    flex-wrap: wrap; 
}

.footer-row {
    flex: 1;
    min-width: 15.625rem;
}

.footer-row h4 {
    font-size: 1.2em;
    margin-bottom: 0.625rem;
}

.footer-row h6 {
    font-size: 0.5em;
    margin-bottom: 0.3125rem;
}

.footer-row p,
.footer-row ul {
    font-size: 0.9em;
    margin: 0.3125rem 0;
}

.footer-row ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-row li {
    margin-bottom: 0.3125rem;
}

.footer-row a {
    color: #ccc;
    text-decoration: none;
}

.footer-row a:hover {
    text-decoration: underline;
    color: white;
}

.footer-bottom {
    border-top: 1px solid #535C91;
    padding-top: 0.625rem;
    font-size: 0.8em;
    margin-top: 1.25rem;
}
